
.main {
  flex-direction: column;
  display: flex;
  width: 98%;
  padding: 0.5vw;
  margin: 0.5vw;
  margin-left: 0.5vw;
  z-index: 0;
  backdrop-filter: opacity(0.2);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(121, 120, 120, 0.1));
  box-shadow: inset 0 0 0.5rem black ;
  height: auto;
  
}

.wrap{
  cursor: pointer;
  transition: all 500ms ease-out;
  padding: 2vw;
  margin: 2vw;
  display: flex;
  background: transparent;
  height: auto;
  width: auto;
  overflow:hidden;
}

.container {
  align-self: center;
  width: 100%;
  height: 100vw;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-align:center; 
  flex-direction: row;
}

.card {
align-self: center;
float: left;
color: white;
background: #d72323;
height: 20vw;
width: 100%;
text-align: center;
text-transform: uppercase;
margin: 0;
font-size: 5vw;
position:absolute;
left: 0;
}


/* images */

#container--1{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('../images/PreviousPortofolio.jpg');
}

#container--2{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('../images/Goku.jpg');
}

#container--3{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('../images/BlogShortStory.jpg');
}

#container--4{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('../images/LandingPagePS1.jpg');
}

#container--5{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('../images/OldOldPortofolio.jpg');
}

#container--6{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('../images/Form.jpg');
}

#container--7{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('');
}

#container--8{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('');
}

#container--9{
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-image:url('');
}

