.loader-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 7, 34);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.loader-container h1{
    padding: 20px;
    text-shadow: 0 0.5vw 0.2vw rgb(5, 7, 34);
    z-index: 101;
    position: fixed;
}
.loader{
    width: 100px;
    height: 100px;
box-shadow:0 0 0.5vw rgb(0, 0, 0), 0 0 2vw rgba(2, 6, 70, 0.7), inset 1vw 0 0.8vw rgba(0, 0, 0, 0.700), 10vw 0 0.8vw white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 2s linear infinite;
    background-color: blue;
   
}

@keyframes loader{

    to{
        transform: rotate(360deg);
    }
}