.lil-planet{
    height: 0.8vw;
    width: 0.8vw;
    border-radius: 50%;
    animation: loader 2s linear infinite;
    display: flex;
    align-self: center;
    justify-self: left;
    box-shadow: 1vw 0 0.1vw rgb(255, 255, 255), 1vw 0 0.2vw blue, inset 4px 0 4px royalblue;
    background: rgba(0, 174, 255, 0.7);
position: fixed;
top: 1vw;
left: 1.5vw;
}

#lil{
    display: flex;
    align-items: center;
    
float:left;
align-items: center;
justify-content: left;
justify-self: left;
}


#preloader{
    transition:1s ease;
}


#welcome{
    pointer-events: none;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(62, 131, 223);
    color: white;
    z-index: 100;
    text-align: center ;
    text-justify: center;
    animation: welcome 2s forwards;
    animation-delay: 500ms ;
    padding: 25vh 0;
}
#welcome h1{
    font-size: 14vw;
    color: rgb(249, 251, 253);
    text-shadow:0 0 5px rgb(255, 255, 255);
    text-align: center ;
    text-justify: center;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(0, 118, 228, 0.849);
}

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(62, 131, 223);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.loader-container h1{
    padding: 20px;
    text-shadow: 0 0.5vw 0.2vw rgb(5, 7, 34);
    z-index: 101;
    position: fixed;
}
.loader{
    transition:1s ease;
    width: 100px;
    height: 100px;
box-shadow:0 0 0.5vw rgb(0, 0, 0), 0 0 2vw rgba(2, 6, 70, 0.7), inset 1vw 0 0.8vw rgba(0, 0, 0, 0.700), 10vw 0 0.8vw white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 2s linear infinite;
    background-color: rgb(128, 0, 248);
   
}

@keyframes loader{
0%{background-color: rgb(4, 0, 248);}
50%{background-color: rgb(0, 170, 248);}
100%{background-color: rgb(4, 0, 248);}
    to{
        
        transform: rotate(360deg);
    }
}

@keyframes welcome{
    to{
        opacity: 0;
    }
}