@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


html,body{
scroll-behavior: smooth;
    overflow-x: hidden;
    }


.flex-column a{
    width: 0%;
    height: 0;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Roboto Slab', serif;
    text-rendering:optimizeLegibility;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
header {
    overflow: hidden;
    width: 100vw;
    align-content: right;
    box-shadow: 0 0 0.5vw black;
    top: 0;
    position: fixed;
    z-index: 1;
}

/* rgb(46, 150, 235) */
footer {
    width: 100vw;
    height: 75vh;
    padding: 4.375vw 3vw;
  
    background: transparent;
    background: linear-gradient(180deg,rgba(0,212,255,0)  0%,
    rgb(46, 150, 235, 0.5) 25%, rgb(46, 150, 235) 75%);
    bottom:0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    float: bottom;
    top: 100vh;
}


span{
    font-size: 1.5vw;
}
.footer-info p{
    width: 50%;
    color: rgb(213, 236, 255);
    align-self: center;
    text-align: center;
    float: right;
    padding: 2vw;
}
.footer-info a{
    padding: 2vw;
    padding-left: 5vw;
    align-self: right;
    width: 10vw;
}
.footer-info a:hover{
    color: rgb(183, 229, 255);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

    @keyframes pulse-back {
        0%{background-position: 100%;}
        100%{background-position: 1%;}
    }

html {
    flex-direction: column;
    width: 100vw ;
    font-size:100%; 
    max-width: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, black, grey)
}

.main a{
    margin: 0;
    padding: 0;
}

article {
    background: transparent;
    align-self: center;
    position: relative;
}
bold{
    color: rgb(0, 140, 255);
}
.header_this {
    font-style:normal;
position:absolute;
    font-size: 14vw;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
    z-index: -1;
    left: 0;
}

.header_these {
    font-style:normal;
position:absolute;
    font-size: 14vw;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
    z-index: -1;
    left: -10%;
}

.header_is {
    font-style: normal;
    font-size: 4vw;
    position:absolute;
    background: transparent;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
    left: 83%;
    top: 41%;
}
.header_are {
    font-style: normal;
    font-size: 4vw;
    position:absolute;
    background: transparent;
    color: transparent;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
    left: 97%;
    top: 21%;
}
.header_portofolio {
    font-style: normal;
    font-size: 4vw;
    position:absolute;
    top: 50%;
    left: 20%;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
}

.header_projects {
    font-style: normal;
  
    font-size: 6vw;
    position:absolute;
    top: 28%;
    left: 28%;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
}

.header_my {
    font-style: normal;
    font-size: 3vw;
    position:absolute;
    top: 50%;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
}

.header_my2 {
    font-style: normal;
    font-size: 4vw;
    position:absolute;
    top:30%;
    left: 10%;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgb(195, 226, 255);
}

.me {
    margin: 2%;
    padding: 2%;
    padding-top: 10%;
    height: 50vw;
    width: 37.5vw;
    align-self:center;
    z-index: 1;
    text-shadow: -5px 0px 2px white;
    overflow:visible;

}
 .name{
    position:absolute;
    font-style: normal;
    font-size: 1.5vw;
    color: #8d99ae;
    background: transparent;
    color: rgba(0, 174, 255, 0.7);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(195, 226, 255);
    text-shadow: 0px 0px 1px white;
}
.projects {

    width: 37.5vw;
    align-self:center;
    height: 50vw;
    text-shadow: 6px 0px 1px white;
}


.window-back {
    width: 100%;
    height: 100%;
    padding: 4vw 0;
    box-sizing: border-box;
    box-shadow: 0 0 0.5vw black ;
    background: linear-gradient(left rgba(54, 54, 54, 0.1), rgba(112, 112, 112, 0.2));
    align-self: flex-start;
    z-index: 1;
}
.fullscreen-div {
    height: auto;
    width: 98%;

    margin: 0.5vw;
    margin-left: 0.5vw;
    z-index: 0;
    background: linear-gradient(left rgba(54, 54, 54, 0.1), rgba(112, 112, 112, 0.2));
    align-self: flex-start;
    display:flex;
}


/* desktop sizing*/
@media screen and (min-width: 900px) {
.footer-info p{
    padding: 0.5vw;
  }
  .footer-info a{
      padding: 0.5vw;
      padding-left: 20vw;
  }

 .white-break-header {
     align-self: center;
   padding: 0.5vw 0;
   margin: 1.5vw 0;
    }
    .backg{
        position: fixed;
        width: 100vw;
        height: 100vw;
        transform:rotate(90deg);
        z-index: -10;
        background: url('../images/space2cold.jpg');
        background-size: cover;
        animation:pulse-back 200s infinite;
        animation-fill-mode:both;
        animation-timing-function: linear;
        background-repeat: repeat;
      }
      .mobile{
          display: none;
      }

/* mobile resizing*/



@media only screen and (max-width: 768px) /* mobile */{
    
    li, a{
        font-size: 1em;
    }

.port{
height: 30vw;
width: 30vw;
font-size: 3vw;
right: 0;
bottom: 0 !important;
top: 80%;
background: rgba(39, 151, 255, 0.5);
color: white;
}
    span{
        font-size: 5vw;
    }
  
    .fulscreen-div {
    
        margin-top: 1vw;
        height: 100vw;
padding: 0 !important;
    }
  
  
    .white-break-header{
        padding: 4vw 0;
        margin:0 0;
    }
  
    .window-back {
        height: 100vw;
    }
    .name {
        font-size: 1em;
          width: 100vw;
          
    }
    .me {
        width: 80vw;

    }
    .me, .projects{
        height: 155vw;
        transform: translate(0, 30vw);
    }
    .header_this {
        font-size: 30vw;
    }
  
    .header_is{
        font-size: 15vw;
    }
    .header_are{
        font-size: 5vw;
    }
    .header_portofolio{
        font-size: 15vw;
    }
    .header_my {
  
        font-size:12vw;
        top: -1.05em;
    }
    article{
      align-self: unset;
      box-shadow:  0 0 0 black ;
    }
  
    .fullscreen-div, .main{
      box-shadow: inset 0 0 0 black ;
    }
    .wrap{
      border: 1px solid white;
      height: 100%;
    }
    .card{
      position: unset;
    }
  
  }