.mobile {
    display: none;
}

@media only screen and (max-width: 768px) /* mobile */{

    .mobile {
        display: flex;
        min-width: 100vw;
        background: white;
        min-height: 100vh;
        z-index: 99;
        color: black;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .mobile p, .mobile button{
        z-index: 100;
        color: black;
        padding: 2rem;
    }

    .mobile button{
        width: 50vw;
        border: hidden;
        border-radius: 5px;
        box-shadow: inset 0 0 5px black, 0 0 5px black;
    }
    .mobile button:hover{
        background-color: royalblue;
    }
}