@media screen and (min-width: 900px) {
    .card {
        position: relative;
        align-self:flex-end;
        height: 10rem;
        margin-bottom: 2rem;
        margin: 0;
        width: 100%;
        padding: 2rem;
        font-size: 1vw;
        }
      .main {
        display: flex;
        flex-direction: row;
        width: 98%;
        padding: 0.5vw;
        margin: 0.5vw;
        margin-left: 0.5vw;
        z-index: 0;
        backdrop-filter: opacity(0.2);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(121, 120, 120, 0.1));
        box-shadow: inset 0 0 0.5rem black ;
        align-self: center;
        border-radius: 1vw;
        justify-content: center;
      }
      .wrap{
        margin: 1vw;
        animation: slide 10s alternate infinite;
        animation-timing-function: ease-in-out;
        cursor: pointer;
        transition: all 500ms ease-out;
        padding: 2%;
        position: relative;
        display: flex;
        background: transparent;
        border: 1px solid;
      }
      #card1 {
        align-self: flex-start;
        top: 22vw;
      }
      #card2 {
        align-self:center;
        top: 10vw;
      }
      #card3 {
        align-self: center;
        top: 10vw;
      }
      .container {
        width: 17vw;
        height: 23vw;
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin: 0;
      }
      article{
        align-self: inherit;
      }

      .container:hover{
        filter: brightness(200%);
        transition: all 500ms ease-in-out;
        }
        .wrap:hover{
          box-shadow: 0 0 2vw black;
          transition: all 500ms ease-in-out;
        }

        .footer-info p{
          padding: 0.5vw;
      }
      .footer-info a{
          padding: 0.5vw;
          padding-left: 5vw;
      }

 .white-break-header {
   padding: 0.5vw 0;
   margin: 1.5vw 0;
 }
      @keyframes slide {
        from{transform:translateX(-0.3rem);}
        to{transform: translateX(0.3rem);}
    }
    #left {
        animation: slide 1s alternate infinite;
        animation-timing-function: ease-in-out;
      }
      
      #right {
        animation: slide 1s alternate-reverse infinite;
        animation-timing-function: ease-in-out;
      }
}

@media only screen and (max-width: 768px) /* mobile */{
    

    li, a, button {
        font-size: 1em;
    }

    .fulscreen-div {
        margin-top: 1vw;
        height: 100vw;
    }


    .white-break-header{
        padding: 4vw 0;
        margin:0 0;
    }

    .window-back {
        height: 100vw;
    }
    .name {
        font-size: 1em;
         width: 100vw;
         
    }

    .me, .projects{
        height: 155vw;
        transform: translate(0, 30vw);
    }
    .header_this {
        font-size: 30vw;
    }

    .header_is{
        font-size: 15vw;
    }
    .header_are{
        font-size: 5vw;
    }
    .header_portofolio{
        font-size: 15vw;
    }
    .header_my {

        font-size:12vw;
        top: -1.05em;
    }
    article{
      align-self: unset;
      box-shadow:  0 0 0 black ;
    }
    @keyframes rotate {

      0%{
        transform: translate(1vw , -1vw);
      }
        100%{
          transform: translate(-300vw, 200vw);
          }
      
      }
      .fullscreen-div, .main{
        box-shadow: inset 0 0 0 black ;
      }
      .wrap{
        border: 1px solid white;
        height: 100%;
      }
      .card{
        position: unset;
      }

}