li, a, button {
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(8, 8, 8);
    text-decoration: none;
    z-index: 1;
}
nav {
    top: 0;
z-index: 1;
float: right;
}


.logo {
    cursor: pointer;
}

.nav__links {
    list-style-type: none;

}

.nav__links li {
    display: inline-block;
    padding: 1vw 1vw;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    
    color: rgb(0, 153, 255);
    transition: all 500ms ease-in;  
    border-bottom: 1px solid rgb(0, 140, 255);
}


.menu-links {
    
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.menu-links::after {
    content: '';
    display: block;
    width: 0;
    height: 0.125vw;
    background: rgb(0, 110, 255);
    transition: width .3s;
}

.menu-links:hover::after {
    width: 100%;
    
}