

li, a{
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(8, 8, 8);
    text-decoration: none;
    z-index: 1;
}
nav {
    top: 0;
z-index: 1;

}


.logo {
    cursor: pointer;
}

.nav__links {
    list-style-type: none;

}

.nav__links li {
    float: right;
    display: flex;
    flex-direction: row;
    padding: 1vw 2vw;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: black;
}

.nav__links li a:hover {
    transition: all 500ms ease-in-out;  
    color: rgb(0, 149, 255);
    
    border-bottom:  0.1vw solid rgb(0, 140, 255);
}


.menu-links {
    
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.menu-links::after {
    content: '';
    display: block;
    width: 0;
    height: 0vw;
    background: rgb(0, 110, 255);
    transition: width .3s;
}

.menu-links:hover::after {
    width: 100%;
    
}