li, a, button {
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(8, 8, 8);
    text-decoration: none;
    
}
nav {
z-index: 1;
float: right;
}

header {
    padding-right: 2vw !important;
    justify-content: space-between;
    align-items: right;
    padding:0.5vw;
    align-content: right;
    position: fixed;
    z-index: 3;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 1vw black;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style-type: none;

}

.nav__links li {
    display: inline-block;
    padding: 0vw 1.25vw;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: red;
    transition: all 500ms ease-in;  
}



li {
    margin: 0.625vw;
}

.menu-links {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.menu-links::after {
    content: '';
    display: block;
    width: 0;
    height: 0.125vw;
    background: red;
    transition: width .3s;
}

.menu-links:hover::after {
    width: 100%;
    
}