
li, a{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    z-index: 1;
    text-shadow: 0 0 1px black;
}
nav {
    top: 0;
z-index: 1;
    display: flex;
    right: 0 !important;
    float: right !important;
}


@keyframes slide {
    from{transform:translateX(-0.3rem);}
    to{transform: translateX(0.3rem);}
    }
    
.menu-links {
      animation: slide 1s alternate infinite;
      animation-timing-function: ease-in-out;
    }

.logo {
    cursor: pointer;
}

.nav__links {
    list-style-type: none;
float: right !important;
}

.nav__links li {
    float: right;
    display: flex;
    flex-direction: row;
  
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: white;
    right: 0 !important;
    float: right !important;
}

.nav__links li a:hover {
    transition: all 500ms ease-in-out;  
    color: rgb(0, 149, 255);
    
}


.menu-links {
    
    color: white;
    text-decoration: none;
    right: 0 !important;
    float: right !important;
}

.menu-links::after {
    content: '';
    display: block;
    width: 0;
    height: 0vw;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.menu-links:hover::after {
    width: 5%;
    
}